#title {
    background-color:#9873b9;
    color: white;
}

h1, h2 {
    font-weight: 800;
    line-height: 1.5;
}

h1 {    
    font-size: 3.5rem;       
}

h2 {
    font-size: 3rem;
}

body {
    font-family: "Montserrat";
    text-align: center
}

.colored-section {
    background-color: #9873b9;
    color: white;
}

.container-fluid {
    padding:3% 15%;
}

.container-padded {
    padding:7% 15%;
}

/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 100;
    color: white
}

/* Download buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

/* Title image */
.title-image {
    width:50%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Testimonials */

#testimonials {
    padding: 7% 15%;
    background-color: #ffcccc;
}

.testimonial-image {
    width: 25%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ffcccc;
    padding: 3%;
}

.press-logo {
    width: 10%;
    margin: 20px 20px 50px;
}

#pricing {
    padding: 100px;   
}

/* unique selling points */
.usp {    
}

.usp-icon {
    font-size: 5rem;
    color: #ffcccc;    
}

.usp-icon:hover {
    color:#9873b9;    
}

.usp-text {    
    font-weight: 800;
    font-size: 1.5rem;    
}

#features {
    margin: 50px 0 0 0;
}

#footer { 
    font-size: 0.7rem;
}

.social {
    padding: 6px 6px 24px 6px;
}

@media (max-width: 1028px) {
    .title-image {
        position: static;
        transform: rotate(0);
    }

    #title {
        text-align: center;
    }
}
